.stock-status__availability-status-icon--available {
  color: green;
}
.stock-status__availability-status-icon--limited-availability {
  color: yellow;
}
.stock-status__availability-status-icon--unavailable {
  color: red;
}
