{#
/**
 * @file
 * The commerce_product_availability_webform_request link template.
 *
 * Available variables:
 * - attributes: HTML attributes for the webform link element.
 * - label: The link label.
 * - orderable: Boolean orderable status.
 * - availability_status: Availability status string
 * - product_variation_id: The product variation ID.
 *
 * @ingroup themeable
 */
#}

<a{{ attributes }}>{{ label }}</a>
